<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0);">User</a>
          </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="changepassword">SETTINGS</a></li>
          <li><a href="#" ng-click="$event.preventDefault();logout()">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>